<!--<nav class="navbar navbar-inverse">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" id="sidebarCollapse" class="navbar-btn">-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--    </button>-->

<!--&lt;!&ndash;      <a class="navbar-brand" href="#">WebSiteName</a>&ndash;&gt;-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li class="active"><a href="#">Home</a></li>-->
<!--      <li><a href="#">Page 1</a></li>-->
<!--      <li><a href="#">Page 2</a></li>-->
<!--      <li><a href="#">Page 3</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<div class="wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <!--      <a class="navbar-brand" href="#">WebSiteName</a>-->
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a [routerLink]="['/login']">Logout</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="profile-pic" src="../../assets/images/default.png">
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content" style="width: 100%">

<!--    <nav class="navbar navbar-default">-->
      <div style="width: 100%; height: 100%; border: 2px solid red">

        <app-chat></app-chat>
        <app-users></app-users>
<!--        <app-heroes></app-heroes>-->
        <app-friends></app-friends>
<!--        <app-heroes></app-heroes>-->
<!--        <app-heroes></app-heroes>-->
<!--        <app-friends></app-friends>-->
<!--        <app-heroes></app-heroes>-->
<!--        <app-heroes></app-heroes>-->



        <!--&lt;!&ndash;        <div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;          <button type="button" id="sidebarCollapse" class="navbar-btn">&ndash;&gt;-->
<!--&lt;!&ndash;            <span></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span></span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--          <ul class="nav navbar-nav navbar-right">-->

<!--          </ul>-->
<!--        </div>-->
      </div>
<!--    </nav>-->

     </div>
</div>
