<div class="wrapper">

    <div id="content" style="width: 100%">
        <div style="width: 100%; height: 100%;">




        <mat-sidenav-container style="min-height: 100%;" fxFlex>

    <mat-sidenav-content style="min-height: 100%;">
        <mat-grid-list [cols]="18" >
            <mat-grid-tile [colspan]="4"></mat-grid-tile>
            <mat-grid-tile
                    [colspan]="10"
                    [rowspan]="8">
                <mat-card style="margin: 15px;" class="mat-elevation-z15" fxFlex fxLayoutAlign="center" fxLayout="column">
                <mat-card-header>
                    <p>Rejestracja</p>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">
                    <img mat-card-lg-image src="assets/images/logo.png" style="margin: 20px">

                    <div fxLayout="column">
                            <input class="formField" placeholder="Imię" [(ngModel)]="name" (change)="validate()">
                            <input class="formField" placeholder="Nazwisko" [(ngModel)]="surname" (change)="validate()">
                            <input class="formField" type="email" placeholder="E-mail" [(ngModel)]="email" (change)="validate()">
                            <input class="formField" type="password" placeholder="Hasło" [(ngModel)]="password" (change)="validate()">
                            <input class="formField" type="password" placeholder="Powtórz Hasło" [(ngModel)]="passwordCheck" (change)="validate()">
                            <textarea class="formField" placeholder="Opis" [(ngModel)]="description" (change)="validate()"></textarea>
                        <div class="formField" fxLayout="row">
                            <input matInput [matDatepicker]="picker" placeholder="Data urodzin" [(ngModel)]="birthDate" (change)="validate()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <button class="btn btn-primary formField" [disabled]="!userValid" (click)="addUser()"><span>Zarejestruj się</span></button>
                        <a [routerLink]="['/login']"><u>Powrót do logowania</u></a>
                    </div>
                    <div style="max-height: 400px; margin-left: 20px; margin-bottom: 20px;" fxLayout="column">
                        <h4 class="formField">Wybierz avatar</h4>
                        <div style="overflow:scroll;" fxLayout="column">
                            <label *ngFor="let imageId of avatarList" (click)="setImage(imageId)" (change)="validate()">
                                <div style="margin-bottom: 40px" >
                                    <input name="cb" id="cb" [value]="imageId" type="radio">
                                    <img mat-card-sm-image src="assets/avatars/{{imageId}}.svg">
                                </div>
                            </label>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>
        </div>



    </div>
</div>

