<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="profile-pic" src="../../assets/images/logo.png">
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/dashboard']">Tablica</a>
      </li>
      <li>
        <a [routerLink]="['/profile']">Twój profil</a>
      </li>
      <li>
        <a [routerLink]="['/config']">Konfiguruj wygląd</a>
      </li>
      <li>
        <a [routerLink]="['/logout']">Wyloguj</a>
      </li>
    </ul>
  </nav>

  <div id="content" style="width: 100%">
    <div style="width: 100%; height: 100%;">




<mat-sidenav-container style="min-height: 100%;" fxFlex>
  <mat-sidenav-content>
    <mat-grid-list [cols]="cols | async">
      <div style="margin-left: 45vw; margin-top: 45vh" *ngIf="loading" fxFlexAlign="center">
        <mat-spinner></mat-spinner>
      </div>
      <mat-grid-tile *ngFor="let card of cards"
                     [colspan]="card.input.cols.value | async"
                     [rowspan]="card.input.rows.value | async">
        <app-dashboard-cards-spawner [card]="card"></app-dashboard-cards-spawner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
    </div>



  </div>
</div>

