<div class="wrapper">

    <div id="content" style="width: 100%">
        <div style="width: 100%; height: 100%;">




            <mat-sidenav-container style="min-height: 100%;" fxFlex>

                <mat-sidenav-content style="min-height: 100%;">
                    <mat-grid-list [cols]="18" >
                        <mat-grid-tile [colspan]="6"></mat-grid-tile>
                        <mat-grid-tile
                                [colspan]="5"
                                [rowspan]="8">
                            <mat-card style="margin: 15px;" class="mat-elevation-z15" fxFlex fxLayoutAlign="center" fxLayout="column">
                                <mat-card-header>
                                    <p>Logowanie (admin@admin.com:admin123)</p>
                                </mat-card-header>
                                <mat-card-content fxLayoutAlign="center">
                                    <img mat-card-lg-image src="assets/images/logo.png" style="margin: 20px">

                                    <div fxLayout="column">
                                            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" action="/auth_login_check" novalidate>

                                        <input id="login_type_email" name="login_type[email]" type="text" class="form-control formField" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                        <input id="login_type_password" name="login_type[password]"  type="password" class="form-control formField" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                                <button [disabled]="loading" class="btn btn-primary formField"><span>Login</span></button>
                                            </form>
                                        <a [routerLink]="['/register']" class="formField"><u>Zarejestruj się</u></a>
                                    </div>

                                </mat-card-content>

                            </mat-card>


                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>



    </div>
</div>

