<mat-card style="margin: 15px;" class="mat-elevation-z15" fxFlex fxLayoutAlign="space-between" fxLayout="column">
  <mat-card-header>
      <div style="padding: 20px">
          <input placeholder="Filtruj" style="color: black" [(ngModel)]="filter">
          <button class="btn btn-warning" (click)="invitesAction()">Zaproszenia</button>
          <button class="btn btn-default" (click)="indexAction()">Znajomi</button>
      </div>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-between" fxFlex>
      <div class="component-container" style="height: 100%; overflow-x: scroll; background-color: lightgray" fxFlex>
          <div style="color: black;" *ngIf="friends.length==0 && view!='invites'">Nie masz jeszcze żadnych znajomych</div>
          <div style="color: black;" *ngIf="friends.length==0 && view=='invites'">Nie masz żadnych oczekujących zaproszeń</div>

          <div *ngFor="let friend of friends | usersfilter: filter" class="container user-tile" style="height: 200px;width: 120px;float: left" fxLayout="column">
              <div fxLayout="row">
                  <button style="display:inline-block" *ngIf="view!='invites'" class="btn btn-primary" (click)="messageAction(friend.PK_idUsers)" fxFlex><span class="oi oi-envelope-closed" title="icon name" aria-hidden="true"></span></button>
                  <button style="display:inline-block" class="btn btn-default" [routerLink]="['/view/', friend.PK_idUsers]" fxFlex><span class="oi oi-person" title="icon name" aria-hidden="true"></span></button>
                  <button style="display:inline-block" *ngIf="view=='invites'" class="btn btn-success" (click)="addFriendAction(friend.PK_idUsers)"><span class="oi oi-thumb-up" title="icon name" aria-hidden="true"></span></button>
              </div>
              <div fxLayout="column" style="text-align: center;">
                  <img style="margin: 10px 0px 5px 20px;" src="assets/avatars/{{friend.photo}}.svg" alt="Avatar">
                  <p style="color: black"><b>{{friend.name}} {{friend.surname}}</b></p>
              </div>
          </div>
      </div>
  </mat-card-content>

</mat-card>
